<router-outlet />

<form class='form' [formGroup]="filterForm">
    <div>
        <input formControlName="name" type="text">
    </div>
    <div>
        <select formControlName="role">
            @for(role of roles; track role) {
                {{role}}
                <option [value]="role.value">{{role.label}}</option>
            }
        </select>
    </div>
</form>

<div class="list">
    <h4>Users List</h4>
    @for(user of users; track user) {
    <div class="list-item">
        {{user.id}} - {{user.name}} - {{user.role | role}}
    </div>
    }

</div>